.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {

    background-color: rgba(0, 0, 0, 0.09);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #e0e0e0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.circle::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #1B618C;

    height: var(--level, 0%);

    transition: height 0.7s ease-in-out;
}

.inside-text {
    color: var(--text);
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    margin: 0px;
    
    position: relative;
    z-index: 1;

    mix-blend-mode: color-burn;
}

.outside-text {
    font-weight: bold;
}

@media (max-width: 768px) {
    
    .circle {
        height: 50px;
        width: 50px;
    }

    .inside-text {
        font-size: 0.8em;
        vertical-align: middle;
        margin: 0px;
    }

    .outside-text {
        font-size: 0.8em;
    }

}