.go-home {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 2px;
    border-radius: 8px;
    border: none;
    color: #eaeaea;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--sauce);
    width: auto;
    height: 50px;
    
    &:hover {
        background-color: #2278ad;
    }
}

.palette {
    font-size: 2.4rem;
    text-align: center;
}

.board-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    & * {
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    & label {
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.74rem;
    }
}

.drawing-board {
    width: 280px;
    height: 280px;
    margin-bottom: -25px;
}

#save {
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    border-radius: 8px;
    border: none;
    color: #eaeaea;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--sauce);
    width: auto;
    height: 50px;
    
    &:hover {
        background-color: #2278ad;
    }
}

#clear {
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    border-radius: 8px;
    border: none;
    color: #eaeaea;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8B8B8B;
    width: auto;
    height: 50px;

    &:hover {
        background-color:#9f9f9f;
    }
}

#color {
    border-radius: 2px;
    border: 0px;
}

#lineWidth {
    height: 25px;
}

.probs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
}

.probs-text {
    font-weight: 800;
    margin: 0px;
    margin-bottom: -24px;
}

/* --- Smartphone Adjustments (screens 768px or smaller) --- */
@media (max-width: 768px) {

    .go-home {
        top: 15px;
        left: 15px;
        height: 40px;
        padding: 2px 15px;
    }

    .palette {
        font-size: 1.8rem;
        margin-top: 70px;
    }

    .drawing-board {
        margin-bottom: 15px;
    }

    .probs-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2px 5px;
        width: 90vw;
        gap: 15px; 
    }

    .probs-text {
        margin-bottom: 10px;
    }

}
